lang en_US
keyboard us
timezone Etc/UTC --isUtc
rootpw $1$vG3NcBW+$ueET7clDOamKd4mIlucNo1 --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
cdrom
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled --http --ssh
firstboot --disable
%packages
@base
%end
